.carousel .slide {
  background: #fff;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
  opacity: 0.6;
}

.carousel .control-arrow:hover {
  opacity: 1;
}

.carousel .control-dots .dot {
  background: #4c9c85;
}

.carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover {
  background: #2e6a56;
}
